.linha {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #0077cc;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

 .App {
  max-width: 900px; 
  margin: 0 auto;
} 
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

input[type="button"] {
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

input[type="button"]:hover {
  background-color: #005fa3;
}

h2:last-child {
  margin-top: 20px;
}